body {
  background: #1e6262;
}
main {
  position: relative;
  background: #2d767f;
  padding: 20px;
  height: 200px;
  width: 60%;
  margin: 0 auto;
}

.center {
  position: absolute;
  background: #b4f1f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 50%;
}
